<h2>All Blogs</h2>
    <span class="clearfix"></span>
    </hr>
    <hr>
    </hr>
    <table class="table table-striped">
    <thead>
      <tr>
      < <th>Task Id</th>
        <th>TaskName</th>
        <th>Description</th>
        <th> lastDate</th>
        <th>CREATED BY</th>
         <th>COMPLETED???</th>
       
    
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="work in tasks">
      <td>{{work.taskId}}</td>
        <td>{{work.taskName}}</td>
        <td>{{work.description}}</td>
        <td>{{work.lastDate}}</td>
        <td>{{work.tasksOf}}</td>
         <td>{{work.status}}</td>
       
        
        <td><button type="button" class="btn btn-primary btn-sm " data-toggle="modal"  data-target="#complete" ng-click="compend(work)">Completed</button></td>
         <td><button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#pending" ng-click="compend(work)">Pending</button></td>
      </tr>
       </tbody>
  </table>
   <!-- Modal -->
  <div class="modal fade" id="complete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Complete</h4>
        </div>
        <div class="modal-body">
        Do you want to approve {{taskstatus.workId}} as completed?
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn-btn-default" data-dismiss="modal" 
        ng-click="completedTask(work)">Yes</button>
        <button type="button" class="btn-btn-default" data-dismiss="modal">No</button>
        </div></div></div>
         <!-- Modal -->
  <div class="modal fade" id="pending" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pending</h4>
        </div>
        <div class="modal-body">
        Do you want to make {{taskstatus.workId}} as pending?
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn-btn-default" data-dismiss="modal" 
        ng-click="pendingTask(work)">Yes</button>
        <button type="button" class="btn-btn-default" data-dismiss="modal">No</button>
        </div></div></div>
        </div>
